
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<address>
    1400 Spring Garden St<br />
    Greensboro, NC 27412<br />
    <abbr title="Phone">P:</abbr>
    (336) 334-5000
</address>

<address>
    <strong>Contact Address: </strong><br/>John Doe<br/>
    123 Perennial Street, Charlotte NC 12345<br /><br />

    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>


