@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Family Member Spec</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Family Home</h2>
        <span class="glyphicon glyphicon-home glyphicon-big"></span>
        <p><a class="btn btn-default" href="@Url.Action("Index","Home")">Home &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Calendar</h2>
        <span class="glyphicon glyphicon-calendar glyphicon-big"></span>
        <p><a class="btn btn-default" href="@Url.Action("Calendar", "Home")">Go To Calendar &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Gallery</h2>
        <span class="glyphicon glyphicon-book glyphicon-big"></span>
        <p><a class="btn btn-default" href="@Url.Action("Gallery", "Home")">Go To Gallery &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Messages</h2>
        <span class="glyphicon glyphicon-list-alt glyphicon-big"></span>
        <p><a class="btn btn-default" href="@Url.Action("Messages", "Home")">Go To Messages &raquo;</a></p>
    </div>
</div>