@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Family Member Spec</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Family Home</h2>
        <span class="glyphicon glyphicon-home glyphicon-big"></span>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Home &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Calendar</h2>
        <span class="glyphicon glyphicon-calendar glyphicon-big"></span>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go To Calendar &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Gallery</h2>
        <span class="glyphicon glyphicon-book glyphicon-big"></span>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go To Gallery &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Messages</h2>
        <span class="glyphicon glyphicon-list-alt glyphicon-big"></span>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go To Messages &raquo;</a></p>
    </div>
</div>